<<ion-view view-title="Services">
  <ion-content>
    <h1>Services</h1>

    <div class="list">

    <a class="item item-thumbnail-left" href="http://ezproxy.uosc.edu/login?url=http://search.ebscohost.com/login.aspx?authtype=cookie,ip,uid&profile=eds">
      <img src="http://www.usc.edu.tt/uploads/images/content/myuscicons/FordeLibrarythumb_1.jpg" >
      <h2>Library</h2>
	      
    </a>


	</div>

	<div class="list">

    <a class="item item-thumbnail-left" href="https://camsportal.usc.edu.tt/student/">
      <img src="http://www.usc.edu.tt/uploads/images/content/myuscicons/Web%20Icons%20for%20portals-03.png">
      <h2>Azar</h2>
      
      
    </a>


	</div>

	<div class="list">

    <a class="item item-thumbnail-left" href="http://elearn.usc.edu.tt/moodle/index.php">
      <img src="http://www.usc.edu.tt/uploads/images/content/myuscicons/USC%20Elearn132-04.png">
      <h2>USC Online</h2>
      
      
    </a>


	</div>
  </ion-content>
</ion-view>



